.section1{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/203f71fb7d3a5cccb6bf64f3/Untitled1.png");
    background-position: 50% 50%;
    object-fit: cover;
    display: block;
    /* vertical-align: middle; */
    background-size: cover;
    height: 650px;
}
.usheet{
    position: relative;
    width: 1140px;
    margin:0 auto;
}
  .ugroup{
    width: 721px;
    min-height: 421px;
    height: auto;
    margin:0px auto 59px 0;
    display: flex;
    position: relative;
    top: 220px;
}
.ucontainer{
    position: relative;
    flex: 1;
    max-width: 100%;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
}
.subtitle{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Lora, serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    color: #fff;

}
.utitle{
    font-weight: 500;
    font-size: 6rem;
    line-height: 1.1;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Lora, serif;
    text-align: left;
    color: #fff;
}
.utext{
    margin: 20px 186px 60px 0;
    position: relative;
    text-align: left;
    color: #fff;
    font-size: 16px;
}