*{
    margin: 0;
    padding: 0;
}


.section5{
    background-image: url("https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/246d1bea141756a0bad15bc1/Untitled12.png");
    background-position: 50% 50%;
object-fit: cover;
display: block;

background-size: cover;
background-position: 50% 50%;
background-repeat: no-repeat;
height: 80vh;

}
.div1{
    display: flex;
    width: 100%;
    margin: auto;
    top: 100px;
    position: relative;
}
.rightDiv1{
    width: 30%;
    color: #fff;
    text-align: right;
    /* height: 491px; */
}
.rightHeading2{
    font-size: 10.5rem;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    left: -40px;
    position: relative;
    
}
.programH3{
    
    font-size: 1.25rem;
    letter-spacing: 2px;
    margin: 15px 0 0;
    font-weight: 400;
    
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: Lora, serif;
   
}
.programH2{
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Lora, serif;
}
.leftDiv1{
    width: 70%;
    text-align: left;
    color: #fff;
    margin: auto;
}
.leftDiv2{
    width: 78%;
}
.readBtn1{
   
        position: relative;
        background-image: none;
        font-size: 0.875rem;
        letter-spacing: 1px;
        margin: 20px;
        align-items:center;
        /* margin: 20px auto 45px 0; */
        color: #ffffff !important;
        background-color: #001730 !important;
        text-align: center;
        padding: 10px 30px;
        border-radius: 0;
        text-decoration: none;
        top: 60px;
        left: -20px;
    }
